# Distribution/packaging
build
dist
*.egg-info
# Eclipse
.project
.pydevproject
# PyCharm
.idea
# Spyder
.spyproject
# VsCode
.vscode

# General
lint-report.txt
pep8-report.txt
*.pyc
*~
*.orig

testfile

TAGS

*.log
*.hdf5
*.h5
*.rbpkl
!regress_mass_v0_7_0.hdf5
.DS_Store

# Cython produces C source files and can produce HTML
*.c
*.html
mass/demo/sourceroot.py
*.so
*.pyd