/build
/dist
/src/mass.egg-info
.project
.pydevproject
lint-report.txt
*.pyc
*~
*.orig

testfile

TAGS

*.log
*.hdf5
*.h5

# Cython produces C source files
src/mass/core/*.c
src/mass/mathstat/*.c

src/mass/test/*.hdf5
