/build
/dist
/mass.egg-info
.project
.pydevproject
lint-report.txt
*.pyc
*~

*.orig

.settings/org.eclipse.core.resources.prefs

testfile

TAGS

.idea/*
*.h5

# Cython produces C source files
mass/core/*.c
mass/mathstat/*.c

mass/test/*.hdf5
