numpy>=1.11
scipy>=0.19
Cython
pandas
scikit-learn
h5py>=2.7
palettable
cycler
fastdtw
progress
lmfit>=0.9.11
pytest
# Careful!
# matplotlib 3.0 and statsmodels 0.11 both require python 3
matplotlib>=1.5, <3.0;python_version<"3.0"
matplotlib>=3.0;python_version>="3.0"
statsmodels>=0.8;python_version>"3.0"
statsmodels>=0.8, <=0.10;python_version<"3.0"
